/* RESET  */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* FONT  */

*{
    font-family: 'Open Sans', sans-serif;
}

/* GENERAL */

.wrapper{
    max-width: 1200px;
    margin: auto;
 }

 .margin-top-100{
    margin-top: 100px;
 }

 .padding-top-50{
    padding-top: 50px ;
 }

 .margin-left-25{
    margin-left:25px;
 }


/* HEADER  */

header{
    height: 100px;
    display: flex;
}

.header-section-one{
    width: calc(100% / 3);
    display: flex;
}

.header-section-two{
    width: calc(100% / 3);
    display: flex;
    justify-content: space-between;
}

.header-section-three{
    width: calc(100% / 3);
    display: flex;
    justify-content: space-between;
}

.section-of-the-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

  /* MAIN ONE  */



 /* MAIN TWO  */

 .section-two-main-two{
    display: flex;
    justify-content: space-between;
 }

 .col-1{
    width: 30%;
    display: flex;
 }

 .section-two-main-three{
    height: 300px;
 }


 .section-forth-main-two{
    display: flex;
 }

 .section-forth-img{
    width: 50%;
    height: 600px;
 }

 .text-section-forth-main-two{
    margin-left: 50px;
    width: calc(50% - 50px) ;
 }

  /* MAIN THREE  */

.section-one-main-three{
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.col-1-2{
    width: 30%;
    display: flex;
    height: 300px;
 }

  /* MAIN four  */
  .main-four{
    width: 100vw;
    height: 50vh;
    display: flex;
    
  }

  .section-one-mian-four{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;

  }

  .under-section{
    width: 50%;
    height: 50%;
  }

/* DEBUG  */

.debug header{
    background-color: aqua;
}

.debug .header-section-one{
    background-color: bisque;
    height: 100%;
}
.debug .header-section-two{
    background-color: lightcoral;
    height: 100%;
}
.debug .header-section-three{
    background-color: lightsalmon;
    height: 100%;
}

.debug li {
    border: 1px solid black; 
}

.debug .main-one{
    height: 600px;
    background-color: aquamarine; 
}

.debug .container{
    max-width: 1200px;
    margin: auto;
    height: 500px;
    background-color: salmon;
    position: relative;
    top: 125px;
}

.wrapper{
    background-color: lightseagreen;
}

.debug .col-1{
    height: 600px;
    background-color: lightgreen;
}

.debug .col-1-2{
    background-color: lightgreen;
}

.debug .section-two-main-two{
    background-color: lightgreen;
}

.debug .section-forth-main-two{
    height:600px;
    background-color: lightgreen;
}

.debug .section-forth-img{
    background-color: lightpink;
}

.debug .text-section-forth-main-two{
    background-color: lightpink;
}
.debug .main-four{
    background-color: lightgreen;
}

.debug .section-one-mian-four{
    height: 50vh;
    background-color: lightcoral;
    border: 1px solid black;
}

.debug .under-section{
    background-color: lightsalmon;
    border: 1px solid black;


}