/* RESET  */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* FONT  */

*{
    font-family: 'Open Sans', sans-serif;
}

/* GENERAL */

.wrapper{
    max-width: 1000px;
    margin: auto;
 }

 .margin-top-100{
    margin-top: 100px;
 }

 .margin-top-50{
    margin-top: 50px;
 }

 .margin-top-25{
    margin-top: 25px;
 }

 .padding-top-50{
    padding-top: 50px ;
 }

 .margin-left-25{
    margin-left:25px;
 }

 .margin-top-15{
    margin-top: 15px;
 }

 .padding-left-10{
    padding-left: 10px;
 }

 .link{
    background-color: blue;
    color: white;
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
    width: max-content;
    margin-left: 30px;
}

/* HEADER  */

header{
    height: 100px;
    display: flex;
    /* position: sticky;
    top:0;
    z-index: 1; */
}

.header-section-one{
    width: calc(100% / 3);
    display: flex;
}

.header-section-two{
    width: calc(100% / 3);
    display: flex;
    justify-content: space-between;
}

.header-section-three{
    width: calc(100% / 3);
    display: flex;
    justify-content: space-between;
}

.section-of-the-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

#img-header{
    margin-left:5px
}

.log-in{
    background-color: blue;
    color: white;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    width: max-content;
}

  /* MAIN ONE  */
  .container{
    max-width: 1200px;
    margin: auto;
    
    position: relative;
    top: 125px;
 }

 .container-main-one{
    display: flex;
    height: 70%;

 }
  h1{
    display: inline;
    font-size: 3.5em;
  }

  h2{
    font-size: 2em;
  }

  .arrow-down{
    font-size: 2.2em;
    padding: 5px;
    margin-top: 40px;
  }
  .big-container{
    width: 60%;
    height: 100%;
    border: 1px solid lightgray;
}

.small-container{
    width: 40%;
    height: 100%;
    border: 1px solid lightgray;
}

.img{
    width: 100%;
    
}


 /* MAIN TWO  */
 
.radio-on{
    color: blue;   
}

.radio-off{
    color: grey;
}
 .section-two-main-two{
    display: flex;
    justify-content: space-between;
 }

 .col-1{
    width: 30%;
    border: 1px solid lightgrey;
   
 }

 .row-1-1{
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 5px;
 }

 .row-3-1{
    font-size: 0.9em;
    font-weight: bold;
 }

 .row-4-1{
    font-size: 0.9em;
    color: grey;
    margin-top: 10px;    
}
.list-items{
    text-decoration: none;
}

hr{
    width: 30%;
    margin-top: 15px;
}

 .section-two-main-three{
    border: 1px solid lightgray;
    
 }

 .fa-check{
    color: blue;
 }


 .section-forth-main-two{
    display: flex;
 }

 .section-forth-img{
    width: 50%;
    height: 600px;
 }
 .row-1-2{
    width: 70%;
    
 }

 .row-1-3{
    margin-left: 50px;
    width: calc(30% - 50px) ;
 }

 .text-section-forth-main-two{
    margin-left: 50px;
    width: calc(50% - 50px) ;
 }



 .section-fourth-img{
    width: 100%;
    height: 50vh;
 }

 
  /* MAIN THREE  */

.section-one-main-three{
    display: flex;
    justify-content: space-between;
    /* height: 300px; */
}

p{
    font-size: 0.9em;
 }

.col-1-2{
    width: 30%;
    display: flex;
    /* height: 300px; */
 }

 .col-2{
    display:flex;
 }

.section-three-main-three{
    display: flex;
    height: 50vh;
}
  /* MAIN four  */
.main-four{
    width: 100vw;
    height: 50vh;
    display: flex;
    background-color: rgb(236, 233, 233);

}

.section-one-mian-four{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    height: 50vh;


}

.section-one-mian-four2{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;

}


.under-section{
width: 50%;
height: 50%;
display: flex;
align-items: center;
justify-content: center;

}

.section-one-mian-four > .under-section:first-child{
    background-color: rgb(134, 218, 134);
    border:10px solid rgb(196, 253, 196)
}

.section-one-mian-four > .under-section:nth-child(2){
    background-color: rgb(99, 1, 59);
}
.section-one-mian-four > .under-section:nth-child(3){
    background-color: rgb(0, 110, 244);
}

.section-one-mian-four > .under-section:last-child{
    background-color: red;
}

.section-one-mian-four2 > .under-section:first-child{
    background-color: rgb(214, 2, 2) ;
}

.section-one-mian-four2 > .under-section:nth-child(2){
    background-color: rgb(41, 131, 242);
}
.section-one-mian-four2 > .under-section:nth-child(3){
    background-color: rgb(3, 3, 203);
}

.section-one-mian-four2 > .under-section:last-child{
    background-color: rgb(234, 234, 0);
}

.img-main-four{
    width: 150px;
    color: white;
    filter:invert(100%)
}

.middle-section{
    
    
}

.middle-img{
    width: 300px;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}

  .section-five-img{
    display: flex;
    width: 60%;
    height: 25vh;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;

   
 }

 .text-section-fourth-main-two{
    height: 50vh;
    width: calc(50% -50px);
    padding-left: 50px;
 }

 .text-section-five-main-two{
    display: flex;
    margin-left: 50px;
    width: 40% ;
    height: 25vh;
    align-items: center;
    justify-content: center;
    
 }
 .link-white{
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
    width: max-content;
    background-color: white;

 }

 .link-grey{
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
    width: max-content;
    border: 1px solid lightgrey;
 }
 /* MAIN FIVE  */
 .section-one-main-five{
    height: 25vh;
    /* background-color: aqua; */
    display: flex;
   
 }
 .container-main-five{
    /* height: 300px; */
    background-color: skyblue;

 }
  /* MAIN SIX */


.full-hr{
    width: 100%;
}

.shevron-faq{
    

}
.text-section-one-main-six{
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
}
 
  /* MAIN FINE  */
 /* FOOTER  */

 footer{
    background-color: black;

 }
 .hr-footer{
    width: 10%;
 }
 .container-footer{
    width: 1200px;
    margin: auto;
}

.footer-container{
    width: 100%;
    display: flex;

}

.section-one-footer{
    width: calc(100% / 5);
    color: white;
    padding: 50px 20px 50px 20px;
    
}


/* DEBUG  */

.debug header{
    background-color: black;
}

.debug .header-section-one{
    background-color: bisque;
    height: 100%;
}
.debug .header-section-two{
    background-color: lightcoral;
    height: 100%;
}
.debug .header-section-three{
    background-color: lightsalmon;
    height: 100%;
}

.debug .section-one-footer  ul> li{
   list-style: none;
   padding-top: 10px;
}

.debug .section-one-footer  ul> li:first-child{
    list-style: none;
    padding-top: 20px;
 }

.main-one{
    height: 600px;
    background-color: aquamarine; 
}

.debug .container{
    height: 500px;
    background-color: salmon;
}

/* .wrapper{
    background-color: lightseagreen;
} */

/* .debug .col-1{
    height: 600px;
    background-color: lightgreen;
} */

/* .debug .col-1-2{
    background-color: lightgreen;
} */

/* .debug .section-two-main-two{
    background-color: lightgreen;
} */

.debug .section-forth-main-two{
    height:600px;
    background-color: lightgreen;
}



.debug .section-forth-img{
    background-color: lightpink;
}

.debug .text-section-forth-main-two{
    background-color: lightpink;
}
/* .debug .main-four{
    background-color: rgb(0, 0, 0); */
}

.debug .section-one-mian-four{
    background-color: lightgrey;
}

.debug .under-section{
    background-color: lightsalmon;
    border: 1px solid lightgray;


}
/* 
.debug .section-five-img{
    background-color: lightpink; */
}

/* .debug .text-section-five-main-two{
    background-color: lightpink;
} */

.debug .section-forth-main-five{
    height:300px;
    background-color: lightgreen;
}

.debug .section-one-footer{
    height: 300px;
    background-color: black;
    /* border: 1px solid yellow; */
}

.debug .section-two-footer{
    height: 100px;
    background-color: black;
}